<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8">
   <title>Login and Registration</title>
   <link rel="stylesheet" href="css/login_signin.css">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>

   <div class="wrapper">
      <div class="title-text">
         <div class="title login">
            <!--Login-->
         </div>
         <div class="title signup">
            <!--Sign up-->
         </div>
      </div>
      <div class="form-container">
         <div class="slide-controls">
            <input type="radio" name="slide" id="login" checked>
            <input type="radio" name="slide" id="signup">
            <label for="login" class="slide login">Login</label>
            <label for="signup" class="slide signup">Sign up</label>
            <div class="slider-tab"></div>
         </div>

         <div class="form-inner">

            <form th:action="@{/login}" method="post" class="login">
               <div class="field">
                  <input type="email" name="email" placeholder="Email Address" required>
               </div>
               <div class="field">
                  <input type="password"  name="password" placeholder="Password" required>
               </div>
               <div class="field btn">
                  <div class="btn-layer"></div>
                  <input type="submit" value="Login">
               </div>
               <div class="signup-link">
                  <div th:if="${param.error}" class="field">
                     <h1 12 pt style="color:red">อีเมล์หรือรหัสไม่ถูกต้อง</h1>
                  </div>
               </div>
               <div class="signup-link">
                  Not a member? <a href="">Signup now</a>
               </div>
            </form>

            <form th:action="@{/register}" method="post" , th:object="${user}" class="signup">
               <div class="field">
                  <input id="txtId" type="text" th:field="*{studentid}" placeholder="Student Id" required>
               </div>
               <div class="field">
                  <input id="txtEmail" th:field="*{email}" placeholder="Email Address" required>
               </div>
               <div class="field">
                  <input id="txtName" type="text" th:field="*{name}" placeholder="User name" required>
               </div>
               <div class="field">
                  <input id="txtPassword" type="password" th:field="*{password}" placeholder="Password" required>
               </div>
               <div class="field">
                  <input id="txtConfirmPassword" type="password" placeholder="Confirm password" required>
               </div>
               <script type="text/javascript"
                  src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
               <div class="field btn">
                  <div class="btn-layer"></div>
                  <input id="btnSubmit" type="submit" value="Create Account">

               </div>
               <script type="text/javascript">
                  $(function () {
                     $("#btnSubmit").click(function () {
                        var mail_format = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                        var email = $("#txtEmail").val();
                        var password = $("#txtPassword").val();
                        var confirmPassword = $("#txtConfirmPassword").val();

                        if (password != confirmPassword) {
                           alert("Passwords do not match.");
                           return false;
                        }
                        else if (email.match(mail_format)) {
                           return true;
                        }
                        else {
                           alert("Email ผิด");
                           return false;
                        }
                     });
                  });
               </script>
            </form>
         </div>
      </div>
   </div>
   <script>
      const loginText = document.querySelector(".title-text .login");
      const loginForm = document.querySelector("form.login");
      const loginBtn = document.querySelector("label.login");
      const signupBtn = document.querySelector("label.signup");
      const signupLink = document.querySelector("form .signup-link a");
      signupBtn.onclick = (() => {
         loginForm.style.marginLeft = "-50%";
         loginText.style.marginLeft = "-50%";
      });
      loginBtn.onclick = (() => {
         loginForm.style.marginLeft = "0%";
         loginText.style.marginLeft = "0%";
      });
      signupLink.onclick = (() => {
         signupBtn.click();
         return false;
      });
   </script>

</body>

</html>